.ChatPage {
	min-height: 100vh;
}

.ChatPage .msgCont {
	height: 100vh;
	display: flex;
	justify-content: center;

	box-sizing: border-box;
	margin: 2em;
}

.ChatPage .msgCont .msgBox {
	box-sizing: border-box;
	padding: 1em;

	width: 900px;
	height: 500px;

	display: flex;
	flex-direction: column;
}
.ChatPage .msgCont .msgBox .msgDisplay {
	flex: 5;
	margin-bottom: 1em;

	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */

	overflow-y: scroll;
}
.ChatPage .msgCont .msgBox form {
	flex: 1;
}
